@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.adminapproval{
text-align: center;
font-family: 'Poppins', sans-serif;

}

.appeoval-leavetype{
    text-align: center;
}
#leavetype-admin{
    color: #716ffb;
}
.appeoval-leavetype span{
    color: black;
}

#balance-leave{
    color: #716ffb;
}

#reason-admin{
    color: blue;

}

