.container_divs{
  height: 100vh;
  width: 100%;
}
.header-btn{
  background-color: white;
  padding-top: 70px;
  margin-left: 80px;
  margin-bottom: 10px;
}

.header-btn a{
  color: #8a80b9;
  text-decoration: none;
  margin-left: 25px;
  font-size: 17px;
  font-weight: bolder;
}


/* .body-container{
  background-color: rgb(247,247,247);
} */
.section{
background-color: rgb(247,247,247)
}


/* .slide_container{
  margin-top: 50px;
  padding-top: 50px;
  width: 50px;
  background-color: rgb(251,246,246);
  height: 100vh;
  position: fixed;
} */

/* .highlight{
  background-color:#004e89 !important;
  color:white !important;
}
  .headers_btn{
      width: 50px;
      height: 50px;
      font-weight: bolder;
      color: black;
      cursor: pointer;
      border: none;
} */











.ant-radio-button-wrapper {
  display: none !important;
}

.ant-picker-cell-inner {
  overflow: hidden !important;
  height: 70px !important;
}
.ant-picker-content th{
  background-color: grey;
  color: white;
}
.events{
  list-style-type: none !important;
    margin-left: -38px !important;
  overflow: hidden !important;
}
.ant-picker-calendar {
  border-radius: 5px;
}
.ant-picker-calendar-date-value{
  text-align: center !important;
  /* color: #007ecf; */
}

.ant-picker-cell {
  border-right: 1px solid rgb(222,226,230);
  
  /* border-bottom: 1px solid ; */
}
.ant-picker-calendar-date-content{
  text-align: center !important;
  margin-top: 3px;
}

.ant-badge span{
  font-weight: bolder;
  margin-left: 1px;
  font-size: 12px !important;
  overflow: hidden !important;
}
  
.ant-badge-status-text{
  margin-left: -10px;
  overflow-y: hidden !important;
}

.leave_data{
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.holidaylist{
  width: 52%;
  height: 350px;
}


.holidaylist h1{
  margin-left: 70px;
  font-size: 20px;
  font-weight: bolder;
}
.ant-tabs {
  width: 100% !important;
  height: 355px;
  background-color: rgb(255,255,255);
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(222,226,230);
}
.ant-picker-panel{
  border-radius: 3px;
  background-color: rgb(255,255,255);
  box-shadow:3px 3px 3px 3px rgb(222,226,230);
  overflow-y: scroll;
  height: 300px;
border-radius: 5px;
  width: 100%;
}

.holiday_year{
    display: flex;
    list-style: none;
    width: 83%;
    margin-left: 70px;
    height: 350px;
    border-radius: 3px;
    box-shadow:3px 3px 3px 3px rgb(222,226,230);
    background-color: rgb(255,255,255);
}

::-webkit-scrollbar {
  width: 7px;
  color:  rgb(255,255,255);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(222,226,230); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

.ant-tabs-nav-wrap .ant-tabs-nav-list{
  position: fixed;
}

.holiday_year li{
  margin-left: 10px;
  line-height: 2.6;
  color: red;
  font-size: 16px;

}
.holiday_year span{
  float: right;
  color: black;
  margin-left: 100px;
}
.srcoll_leave{
  display: flex;
  width: 100%;
}

.calender{
  margin-top: 30px;
  width: 50%;
  border-radius: 5px;
}
.calender table{
  margin-top: -10px;
}
 .calender_div{
  width: 90%;
  margin-left:70px;
  height: 300px;
}
/* .ant-picker-calendar .ant-picker-panel .ant-picker-body{
  overflow-y: scroll;
  height: 350px;
  width: 100%;
padding-left: 20px;


}  */

.events{
  list-style-type:none;
  height: 18px;
}
.ant-picker-cell-inner {
  height: 55px !important;
}


.applyleave{
  margin-top: 24px;
margin-left: 60px;
width: 50%;
}

.applyleave_div {
  /* padding: 10px; */
}
th{
  line-height: 4px;
}
.applyleave_div table{
  width: 100%;
  margin-top: -10px;

}
.data_leave{
  width: 33.33%;
}
.applyleave_div tr{
  border-bottom: 1px solid rgb(222,226,230);
} 


.applyleave_div{
  width: 95%;
  height: 350px;

}
.ant-tabs-content-holder{
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  
  
 }

.hours{
  width: 33.33%;
text-align: center;
padding-left: 70px;
float: right;
}

 .td_a{
  width: 33.33%;
  padding-left: 40px;
  border-left: 1px solid rgb(222,226,230);
}

.th_div{
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: space-between;
}

#type-leave{
  color: rgb(0,102,207);
}

.clockin_datas{
  background-color: white;
  border-radius: 10px;
  width: 90%;
  margin-left: 80px;
  box-shadow:3px 3px 3px 3px rgb(222,226,230);
  margin-bottom: 50px;
}


#clockin-head{
  margin-left: 80px;
  font-size: 20px;
}
.clockinDate_list{
  display: flex;
  width: 100%;
  /* margin-left: 80px; */
}
.last{
  height: 50px;
}


.clockinDate_list li{
  list-style-type: none;
  line-height: 3;
  font-size: 15px;
  border-bottom: 1px solid rgb(222,226,230);
  border-top: 1px solid rgb(222,226,230);


} 

#clockin-data{
  font-size: 14px;
  width: 35%;
  float: left;
  padding-left: 20px;
  border-right: 1px solid rgb(222,226,230);
  border-left: 1px solid rgb(222,226,230);


}

#clockout-data{
  font-size: 14px;
  width: 35%;
  float: left;
  padding-left: 20px;
  border-right: 1px solid rgb(222,226,230);

}

#workinghrs-data{
  font-size: 14px;
  float: left;
  padding-left: 20px;
  border-right: 1px solid rgb(222,226,230);
  width: 30%;

}

#data-clockin{
  color: #dd5353;
  font-weight: bold;
  opacity: 0.9;
  padding-right: 10px;
}
.anticon {
  font-size: 20px;
  opacity: .5;
  margin-left: 10px;
  cursor: pointer;
}

.leaves_taken{
  margin-top: 100px;
}

.leaves_taken h1{
  margin-left: 80px;
}

.leaves_taken ul{
   display: flex;
   width: 100%;
}

.leaves_taken li{
  list-style-type: none;
  margin-left: 100px;
  font-size: 16px;
}
/* .appliedDate{
  width: 40%;
} */

.leave-form{
width: 100%
}
.leave-form form{
  margin-left: 20px;
  width: 90%;
}
 
.ant-modal-content{
  width: 170% !important;
  margin-left: -150px !important;
  margin-top: -70px !important;
}

.leave-form{
  width: 100%;
}

.select-leave{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.leave-type{
  width: 50%;
}

.leave-type label{
  color: black;
  font-size: 16px;
  font-family: sans-serif;
}

.leave-type select{
 color: black;
 margin-top: 10px;
 font-size: 16px;
 height: 30px;
 width: 70%;
 cursor: pointer;
}

.balance-leave {
  width: 50%;
}
.balance-leave label{
  color: black;
  font-size: 16px;
  font-family: sans-serif;
}
.balance-leave h1{
  font-size: 16px;
  color: red;
}

.apply-leave{
  display: flex;
}
.leave-start {
  display: grid;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
}
.leave-start-date label{
  color: black;
  font-size: 16px;
  font-family: sans-serif;
}

.leave-daytype{
  margin-top: 10px;
}
.leave-daytype input{
 height: 30px;
 width: 120px;
}

.leave-daytype select{
  height: 30px;
  margin-left: 20px;
  width: 150px;
 cursor: pointer;

 }

 .leave-reason{
  width: 50%;
 }

 .leave-reason label{
  color: red;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
 }

 .leave-reason textarea{
  margin-top: 10px;
  width: 90%;
  height: 40px;
 }

.leave-contact{
  display: flex;
}

.leave-address{
  display: grid;
  width: 50%;
}

.leave-address label{
  color: black;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.leave-address textarea{
  margin-top: -30px;
  width: 90%;
}

.leave-number{
  display: grid;
}

.leave-number label{
  color: black;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.leave-number input{
  margin-top: -40px;
  height: 30px;
  width: 100%;
}

.user-leave{
  margin-left: 50px;
  /* margin-top: 10px; */
  height: 400px;
  width: 44%;
}

.user-leave h1{
  font-size: 20px;
  margin-left: -30px;
  padding-bottom: 10px;
  font-weight: bolder;
}


.drop-antd{
  border: 1px solid black;
  width: 20% !important;
}
.users-on-leave{
  height: 350px;
  width: 100%;
  background-color: rgb(255,255,255);
  margin-left: -40px;
  margin-top: -6px;
  box-shadow:3px 3px 3px 3px rgb(222,226,230);
  border-radius: 5px;
}

.users-on-leave select{
  width: 30%;
  height: 30px;
 cursor: pointer;
 margin-left: 10px;
 margin-top: 10px;
}


.user-real {
 display: flex;
 padding-left: 10px;
 /* padding-bottom: 10px; */
 line-height: 2.5;
 border-bottom: 1px solid rgb(222,226,230);
 border-right: 1px solid rgb(222,226,230);
}
/* .user-real li{
 border-right: 1px solid gray;
 margin-left: 15px;

} */

.user-real li{
  width: 33.33%;
  float: left;
  font-size: 15px;
  margin-left: 10px;
  list-style-type:none;
 border-right: 1px solid rgb(222,226,230);
}

#userData-leave{
  color: #ce0d72;
}

.type-leave{
  display: flex;
  width: 100%;

}

.type-leavedata {
  width: 50%;
}
.type-leavedata label{
  color: black;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 20px;
}
.type-leavedata select {
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
 cursor: pointer;

}

.leave-balnce{
  width: 50%;
  display: grid;
}
.leave-balnce label{
  color: black;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.leave-balnce span{
  color: red;
  padding-bottom: 20px;
  font-size: 16px;
}

.ant-picker-calendar-header{
  box-shadow:2px 2px 2px 2px rgb(222,226,230);
}

.applyLeave-container{
  background-color: white;
  box-shadow:2px 2px 2px 2px rgb(222,226,230);
  border-radius: 10px;
}

.leave-request{
  margin-left: 30px;
  margin-bottom: 20px;
  width: 90%;
  margin-left: 80px;
}

#leave-head {
   color: black;
   margin-left: 80px;
   font-size: 20px;
   margin-top: 50px;
}


.leave-requestList {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  background-color: white;
  padding-top: 10px;
 border-bottom: 1px solid rgb(222,226,230);


}
.leave-requestList  h3{
  margin-left: 30px;
}



#no-days{
  color: #dd5353;
  width: 40%;
height: 100%; 
border-right: 1px solid rgb(222,226,230);

}
 
#days-difference{
  opacity: 0.7;
  background-color: white;
width: 10%;
height: 100%;
border-right: 1px solid rgb(222,226,230);


}

#applied-date{
  opacity: 0.7;
  width: 30%;
height: 100%;
border-right: 1px solid rgb(222,226,230);

}

#aprovel{
  margin-left: 50px;
  color: green;
  font-size: 16px;
  width: 20%;

}

#type-leaveData{
  padding-left: 30px;
border-bottom: 1px solid rgb(222,226,230);
color: #dd5353;
padding-bottom: 10px;

}
#approver{
  padding-left: 30px;
  opacity: 0.7;
  padding-bottom: 10px;
}

#aprovel .anticon{
  color: red;
  float: right;
  margin-right: 20px;
  font-size: 28px;
}

.ant-btn .ant-btn-primary{
   margin-top: -31px;
  text-align: center;   
   color: white;
 }

 .ant-modal-footer{
  height: 72px;
 }

 .year-leaveData{
  width: 100%;
 }

.leaveData-year{
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.year-leaveData ul{
 list-style-type: none;
 margin-left: -50px;
 border-bottom: 1px solid rgb(222,226,230);
}

.year-leaveData li {
  line-height: 1.8;
}

#yearleave-date{
  color: black;
  margin-right: 20px;
}

/* .leaveData-list{
  width: 50.33%;
  text-align: center;
 } */

 /* #leaveType-Data{
  font-size: 20px;
  margin-top: 10px;
 }

 .yearLeave-data{
  width: 590px;
  margin-left: -50px;
 }
.year-data{
  display: flex;
  width: 70%;
}

 .yearLeave-data ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  line-height: 2.5;
}

.yearLeave-data li {
font-size: 15px;
} */




