.add_emp button{
     margin-top: 20px;
    justify-content: center;
    margin-left: 80px;
}

.add_employee{
    display: flex;
    margin-left: 100px;
}

.day-today{
    float: right;
}

.day-today h1{
    font-size: 16px;
    margin-right: 210px;
    color: blue;
}

.data-today{
    margin-top: 100px;
}

.today-data{
    display: flex;
    margin-left: 100px;
    width: 70%;
}
.todayData-head{
    width: 20%;
}

.todayData-head h1{
    font-size: 20px;
}

.today_list{
    display: flex;
    width: 70%;
    margin-left: 60px;
    margin-top: 20px;

}
.today_listData {
    width: 20%;
    float: left;
}

.leave-type{
    color: red;
    list-style-type: none;
}

.userData_heading{
    display: flex;
    margin-bottom: 30px;
    width: 90%;
}

.empolyee-header {
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.empolyee-header h1{
    margin-left: 80px;
}

.empolyee-header button{
    height: 35px;
    margin-right: 150px;
    border: none;
    color: white;
    background-color: rgb(221,83,83);
    border-radius: 5px;    
}

.headingName{
    width: 14%;
    margin-left: 110px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.employeeesDatalist{
    display: flex;
    width: 90%;
    line-height: 2.5;
}

.employeeesDatalist ul{
    display: flex;
    width: 100%;
}

#employe-email{
    margin-right: 70px;
}

#heading-email{
    margin-right: 70px;
}

#leave-type{
    color: red;
    font-weight: bolder;
    font-size: 16px;
}

#workingshrs{
    padding-left: 60px;
}

.employesssList{
    width: 14%;
    text-align: center;
    cursor: pointer;
    list-style-type:none;
}

.add-employeeForm{
    width: 100%;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
}

.employee-divform{
    width: 50%;

}

.employee-divform label{
    color: brown;
    font-size: 16px;
    padding-bottom: 20px;
}

.employee-divform .ant-input {
    margin-top: 50px !important; 
    width: 300px !important;
    height: 40px !important;
}

.employee-divformlabel{
  margin-bottom: 10px;
}

#addemp-id{
    width: 300px;
    height: 40px;
}

.employee-divform .ant-input{
  margin-top: -6px !important;
}

.leaveDatalist{
    margin-top: 50px;
    margin-left:50px;
    width: 45%;
    height: 350px;
    overflow-y: scroll;
}

.leaveDatalist h1{
    text-align: center;
    margin-bottom: 50px;
}

.leaveDatalist li{
    list-style-type:none;
}



.leaveDatalist button{
    float: right;
    margin-right: 20px;
}

.edit_btns{
    display: flex;
}

.edit_btns1{
    width: 42px;
    height: 32px;
    background-color: rgb(24,144,255);
    margin-left: 10px;
    text-align: center;
    border-radius: 1px;
}

.edit_btns1 span {
    height: 60px !important;
    font-size: 13px;
    color: white;
}

.approveRequest{
    margin-left: 100px;
    margin-top: 50px;

}

.approveRequest h1{
    color: #dd5353;
}

.approveRequest-list{
    display: flex;
}

.approveRequest-list h3{
   margin-left: 100px;
}

.approveRequest-btn{
    margin-left: 100px;
    margin-top: 50px;
}

#approveRequest-btn1{
    margin-left: 20px;
    background-color: #dd5353;
    color: wheat;
    border: none;
    width: 100px;
    height: 30px;

}

#approveRequest-btn2{
    margin-left: 20px;
    width: 100px;
    height: 30px;
}
/* .yearLeave-data {
    margin-bottom: 50px;
} */
.yearLeave-data ul {
  display: flex;
  justify-content: space-between;
}

.yearLeave-data li {
margin-left: 20px;
}

.yearleave-datess{
    width: 30%;
}